.popular-movies-bg {
  background-color: #181818;
  min-height: 100vh;
}

.popular-movies-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.popular-movies-failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.popular-movies-failure-image {
  height: 200px;
  width: 300px;
}

.popular-movies-failure-msg {
  font-family: 'HK Grotesk';
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  color: #ffffff;
}

.popular-movies-retry-btn {
  padding: 8px 12px;
  background: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #171f46;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

.popular-movies-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
  list-style-type: none;
  padding: 20px 60px;
  margin: 0;
}

.popular-movie-img {
  width: 255px;
  height: 170px;
  /* margin: 20px; */
  border-radius: 8px;
}

@media screen and (max-width: 767px) {
  .popular-movie-img {
    width: 90px;
    height: 100px;
    margin: 0;
    margin-bottom: 10px;
  }

  .popular-movies-container {
    padding: 20px 30px;
    justify-content: space-around;
    padding-top: 0;
  }

  .popular-movies-failure-image {
    width: 240px;
    height: 170px;
  }

  .popular-movies-failure-msg {
    font-size: 16px;
  }
}
