.home-top-bg {
  display: flex;
  flex-direction: column;
  height: 70vh;
  background-size: fit;
  background: #181818;
}

.home-success-bg {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.poster-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 20px 60px;
  flex-wrap: wrap;
}

.poster-title {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  color: #ffffff;
  margin: 0;
  margin-bottom: 10px;
}

.poster-overview {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  width: 60%;
}

.poster-btn {
  padding: 10px 0px;
  width: 74px;
  background: #ffffff;
  border-radius: 4px;
  border: none;
  outline: none;
  font-family: 'HK Grotesk';
  font-weight: 600;
  font-size: 14px;
  color: #171f46;
}

.home-bottom-card {
  background-color: #181818;
  padding: 40px 60px;
}

.movies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}

.movie-type-heading {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
  margin: 0;
  align-self: flex-start;
  margin-bottom: 20px;
}

.slick-container {
  width: 100%;
  margin-top: 10px;
}

.top-failure-poster-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  height: 80%;
  background: #0d0d0d;
  margin: 0px 60px;
}

.failure-poster-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  height: 100%;
  background: #0d0d0d;
}

.failure-poster {
  width: 44px;
  height: 38px;
}

.failure-image {
  width: 29px;
  height: 25px;
}

.failure-msg {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.retry-btn {
  padding: 4px 16px;
  background: #ffffff;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'HK Grotesk';
  font-weight: 600;
  font-size: 12px;
  color: #171f46;
}

.loader-container-poster {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  min-height: 80%;
  background: #0d0d0d;
  margin: 0px 60px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background: #0d0d0d;
  /* margin: 0px 60px; */
  min-width: 100%;
}

@media screen and (max-width: 767px) {
  .poster-details-container {
    justify-content: flex-end;
    height: 100%;
    padding: 20px 30px;
  }

  .home-success-bg {
    min-height: 100%;
  }

  .poster-title {
    font-size: 26px;
  }

  .poster-overview {
    font-size: 16px;
    min-width: 100%;
    margin: 0;
    margin-bottom: 16px;
  }

  .movie-type-heading {
    font-size: 20px;
    margin: 0;
  }

  .home-bottom-card {
    padding: 20px 30px;
  }

  .movies-container {
    margin-bottom: 20px;
  }

  .top-failure-poster-container {
    margin: 0px 30px;
  }

  .failure-poster-container {
    min-height: 100%;
    padding: 20px;
  }

  .loader-container-poster,
  .loader-container {
    margin: 0 !important;
    height: 100%;
    padding: 30px;
  }
}
