.nav-bar {
  background-color: #181818;
  opacity: 0.7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.nav-items-container {
  display: flex;
  align-items: center;
}

.header-link {
  text-decoration: none;
  color: #ffffff;
}

.header-logo {
  width: 135px;
  height: 40px;
}

.menu-container {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.menu-item {
  font-family: 'HK Grotesk';
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-right: 16px;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #fff;
  height: 30px;
  margin-right: 20px;
  border-radius: 4px;
}

.search-bar {
  background-color: #181818;
  border: none;
  outline: none;
  color: #fff;
  font-family: 'HK Grotesk';
  font-size: 14px;
  padding-left: 5px;
}

.hide-elements {
  display: none;
}

.search-btn {
  padding: 0;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: transparent;
  height: 100%;
}

.search-container-logo {
  width: 38px;
  height: 28px;
  color: #ffffff;
  background-color: #272727;
  padding: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.search-logo {
  width: 24px;
  height: 24px;
  color: #ffffff;
  margin-right: 16px;
}

.profile-img {
  border-radius: 48px;
  height: 48px;
  width: 48px;
}
